#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center;
 */}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ----------------- */

/* App.module.css */

li {
    list-style: none;
}

/* Add a class for each label */
label {
  display: block;
  margin-bottom: 10px;
}

.org {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
}


.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 40px;
  background-color: #6980a3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Section.module.css */

.section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #616161;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Button.module.css */

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.3s;
}

.button-primary {
  background-color: #007bff;
}

.button-secondary {
  background-color: #6c757d;
}

.button-three {
  background-color: #bcca41
}

.button-success {
  background-color: #28a745;
}

/* EditableInput.module.css */

.editable-input {
  /* border: 1px solid #a3b34a; */
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  transition: border-color 0.3s;
}

.editable-input:focus {
  outline: none;
  border-color: #007bff;
}

/* TextArea.module.css */

text-area {
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  height: 120px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.text-area:focus {
  outline: none;
  border-color: #007bff;
}
